<div id="erreurTitre" class="erreur">Vous devez renseigner un titre</div>

<div id="erreurCategorie" class="avertissement">Attention ! Si la catégorie n'est pas renseignée, l'article sera classé
    par défaut dans "Divers".
</div>

<div id="erreurDateMsg" class="avertissement">Attention ! Si la date n'est pas renseignée, la date par défaut sera
    celle du jour.
</div>

<div id="erreurAuteur" class="erreur">Vous devez renseigner un auteur.</div>

<div id="erreurMessage" class="erreur">L'article est obligatoire.</div>

<div id="erreurPseudo" class="erreur">Vous devez renseigner votre pseudo.</div>

<div id="erreurComm" class="erreur">Le commentaire est obligatoire.</div>